/* a bunch of classes */
:root {
  --playlist-width: 40%;
  --input-width: 10%;
}

.playlist-wrapper{
    position: relative;
    width: 100%; 
    height: 90%
}

div.colored{
    background-color: var(--foreground);
}

/*TODO: make button wrapper to stay bottom right*/

button.bottom-right{
    position: absolute;
    bottom:5vh;
    right:1vw;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
   
.playlist-column {
    flex: var(--playlist-width);
}

.ranking-column {
    flex: calc(100%- var(--playlist-width));
}

.fix-width{
    width: 8%;
}

img.arrow{
    width: 80%;
    height: 10%;
}