/* a bunch of classes */
:root {
  --playlist-width: 60%;
  --input-width: 10%;
  --column-height: 75vh;
}

.playlist-wrapper{
    /*more like container: sets size for playlist to fill*/
    position: relative;
    width: 30vw; 
    height: var(--column-height);
}

div.colored{
    background-color: var(--foreground);
}


/*TODO: make button wrapper to stay bottom right*/

button.bottom-right{
    position: absolute;
    bottom:1vh;
    right:1vw;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
   
.playlist-column {
    flex: var(--playlist-width);
    height:var(--column-height);
}

.ranking-column {
    flex: calc(100%- var(--playlist-width));
    position: relative;
    height: var(--column-height);

}


/*mess for sortable list*/
.sortable-list{
    margin: 0 auto; /*centers the thing*/
    width: 40vw; 
    height: 75%;
    padding: 2vh;
    background: var(--sortable-list);
    border-radius: 7px;
}

.sortable-list .item { /*do NOT remove that space it has a different meaning*/
    list-style: none;
    display: flex;
    cursor: move ;
    background: var(--sortable-list-item);
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1vh;
    justify-content: space-between;
    height: 10.5%;
    width: 100%;
    border: 1px solid rgb(255, 251, 228); 
}

.item.dragging i img{
    opacity: 0.2;
}

.item .text{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.item.dragging {
    opacity: 0.6;
}


.item.dragging .text {
    /*the one we are holding goes invisible in the list*/
    opacity: 0.2;
  }

textarea.larger {
    width: 50%;
    height: 10vh;
    padding: 2vh;
    margin: 3vh;
}

.song-name{
    margin-left: 5px;
}