/*CSS code unique to this page, eg. color scheme*/


:root {
    --background: #445D48;
    --foreground: #B0D9B1;
    --button: #84cd69;
    --hover: #52a036;
    --border: #000000;
    --active: #1d6d00;
    --lighttext: #FFFFFF;
    --darktext: #000000;

    --sortable-list:#79AC78;
    --sortable-list-item:#d4e4d0;
    --sortable-list-item-hover:#c2ff73;

}
  
