/*shared css code between all pages. Excludes color variables*/
h1{
  text-align: center;
  color: var(--lighttext);
}
html{
  height:90vh;
}
body {
  background-color: var(--background);
  max-height: 80vh;
}
div {
  background-color: var(--foreground);
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  margin-top: 2vh;
  margin: 0 auto;  
  text-align: center;
  position: relative;
  max-height:85vh
}
button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: 4px solid var(--border);
}
button:hover {
  background-color: var(--button);
}
button:active {
  background-color: var(--active);
  color: var(--darktext);
}
p {
  font-size: 1em;
  margin: 2vh;
}
