/*CSS code unique to this page, eg. color scheme*/


:root {
    --background: #4d3727;
    --foreground: #F5E8B7;
    --button: #feffdb;
    --hover: #ffb67e;
    --border: #000000;
    --active: #ff9341;
    --lighttext: #FFFFFF;
    --darktext: #000000;

    --sortable-list:#FFBB5C;
    --sortable-list-item:#feffdb;
    --sortable-list-item-hover:#ffb67e;

}
  
